<body>

    <div id="wrapper">

        <!-- Sidebar -->

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class='container'>
            {{#paper-toolbar}}
              {{#paper-toolbar-tools}}
                <h2>QFS Historical Performance</h2>
                <span class="right"></span>
                {{#paper-button raised=true}}
                  <a href="/rankings">POWER RANKINGS!</a>
                {{/paper-button}}
              {{/paper-toolbar-tools}}
            {{/paper-toolbar}}

            {{outlet}}
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
