
<h1>Power Rankings - Week 7 2017</h1>
<h4>One time stuff!</h4>
{{#slide-deck as |d|}}
  <div class='slide-container container'>
    {{#d.slide}}
      <div class='slide poopy'>
        <h1>12. Andrew - Ke$hah !</h1>
        <h2>Raining spiders</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6qpsQg9pWJo" frameborder="0" allowfullscreen></iframe>
        <p>
          Honestly, I cannot think of anything worse than this. My whole body is itching thinking about it,
          and I may have to stop writing about it because it's so disgusting. What an insanely terrible situation.
          It's like, can you get any more disgusting and awful at the same time? I don't think it humanly possible.
          <br />
          <br />
          And then we have these spiders. IMAGINE THIS SHIT?! You're just hanging out, having a nice Caiparinha
          in Brazil with your frinds, looking at some nice butts at Carneval, and then boom. Millions of tiny ass
          disgusting spiders floating in the air, landing on your head and you can't avoid it. They're making webs everywhere, just
          owning every square inch that they touch. When this happens, the spiders now own that city. No two ways around it.
        </p>
      </div>
    {{/d.slide}}
    {{#d.slide}}
      <div class='slide poopy'>
        <h1>11. Dan Neary - No Luck, Staff Infection</h1>
        <h2>Dan Neary Winning A Fantasy Football Championship</h2>
        <img src='http://i.imgur.com/kSTT09a.gif'/>
        <p>
          I'm not an excuses guy, but there was a time when this league didn't have the greatest of competition. People forget, Nelson was here for a while,
          and so was Kevin Neary. They paid attention to a combined two full seasons, but that doesnt take the trophy off of Dan's shelf.
          <br /><br />
          Dan has more Championships than everyone in this league, except two people. lol.
        </p>
      </div>
    {{/d.slide}}
    {{#d.slide}}
      <div class='slide poopy'>
        <h1>10. Avery - Buffa-low Expectations</h1>
        <h2>The Buffalo Bills Winning A Super Bowl (loljk)</h2>
        <img src="https://media.giphy.com/media/EN0WfxQAZ5ZXq/giphy.gif" alt="">
        <p>
          Miguel, Miguel. You wer ein the final last year. That was it. That was your only chance. You arent going to have another one! Unlike the Bills,
          who, people forget, lost 4 superbowls in a row! 4. In a row! If that's not once in a lifetime, i dont know what is.
          <br><br>
          Your team: Listen theres a lot of good stuff here (not really). Maybe you can work out a trade (who do you even have?). I dont know man,
          You're smart, you're an engineer im sure you'll figure it out (lol).
        </p>
      </div>
    {{/d.slide}}
    {{#d.slide}}
      <h1>9. Brian - Mac Attack is Back.</h1>
      <h2>One of your friends cancelling their wedding</h2>
      <iframe src="https://open.spotify.com/embed/user/1213986228/playlist/2ji4zhL1Buv7Jn1I2nKcD6" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      <p>
        This truly is once in a lifetime. I mean I can't believe it would happen to Dan. Its in ther darkest times, that you find out
        who your real friends are and let me be clear that even though it happened a while ago, Dan you have the full support of the league
        behind you. It truly is a sad day. If you need anything we're here. We even made you this playlist that is only for you since something
        like that could never possibly happen again in our lives.
        <br>
        <br>
        Brian, what the fuck is your problem? your team stinks. You have all the time in the world and not a single thing you have to worry about.
        Stop making excuses and figure it out. Its embarassing for you. My god.
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>8. Evan - Brown Town</h1>
      <h2>Who Let The Dogs Out - Baha Men</h2>
      <div class='row'>
        <div class='col-md-6'>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Qkuu0Lwb5EM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class='col-md-6'>
          <img src="https://i.imgur.com/HOTt5HG.png" alt="" height="350">
        </div>
      </div>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <p>
            Classic, classic one hit wonder here. I can't think of a single song that gets asses out of their seats like who let the dogs out does.
            Great beat, great lyrics, it's a marvel of modern music making and poetry. The cinematography on that video is unmatched, as well. Maybe they
            need to change their name to the Reaissance Men!!
            <br><br>
            As for you Evan, i couldn't believe it, but I was just checking the local AARP fraud website, and could help but notice I saw this report in the Boston
            area. It's really said, and I hope that one day they can stop that dangerous and really unfair practice. It's really said when somebody commits this much
            fraud in that short of time. But alas. Also, speaking of fraud, has anyone ever looked at Evan's <a href="https://media.licdn.com/media/AAEAAQAAAAAAAAhSAAAAJDhkN2IxOTYwLThmOWEtNDk5ZC1hMDBkLTdhMWY0MWYzYjk4Mg.jpg">LinkedIn Picture?</a>
            <br>Skinny Mini!
          </p>
        </div>
      </div>
    {{/d.slide}}
    {{#d.slide}}
      <h1>7. Melissa - Thx for the Donation</h1>
      <h2>Haileys Comet</h2>
      <img src="http://dawdlez.com/wp-content/uploads/2015/09/Halleys-comet.jpg" alt="">
      <p>
        Age old argument. Is the sun hot? If you're a sheep and answered yes, then riddle me this, Einstein: Why is space cold if the sun is so hot? Space is closer to the sun.
        Shouldn't it be hotter? 🤔 Really makes u think, tbh.
        <br><br>
        This team is like Haileys comet, we saw you get some points one week, and then the rest of the time really nothing. You can do better, I know you can,
        you just need to try harder. You can do it Melis! I know you can!
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>6. Lindsay - One More Rep</h1>
      <h2>A Hockey One Timer</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pr7AtbWM7NA" frameborder="0" allowfullscreen></iframe>
      <p>
        PRAISE BE TO THE BABY JESUS. SHE CHANGED HER NAME TO SOMETHING OTHER THAN A SUPERBOWL REFERENCE FROM A LITERAL DECADE AGO. HOLY SHIT, LET US ALL REJOICE.
        <br><br>
        Just a sidenote: I hate doing power rankings for these like 6,7,8 ranked teams cuz theyre all so boring. I mean blegh, I'd rather be running on a treadmill with not headphones on
        in a warm, humid room, than look at these teams. They're all so mediocre it, it makes me wanna take a nap. Speaking of naps:
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>5. Joe - Brady's Uggs</h1>
      <h2>Someone Telling Brian It's Too Big To Fit</h2>
      <img src="https://amyslifeingifs.files.wordpress.com/2015/09/oh-itll-fit.gif" alt="">
      <p>
        Theres absolutely no way this happened. Zero. I thought it then, and I still think it now. Zero. She probably was just tired and had an early class the next day
        or something. Its impossible. I will go to my grave not believing that story one lick.
        <br><br>
        Same With this team. I can't honestly believe you're in the top 5, but here we are. Its really because there's nobody else to put here, sorry Joe.
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>4. Jason - Bored of the directors</h1>
      <h2>Losing Your Virginity</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/w9OdxJssUK8" frameborder="0" allowfullscreen></iframe>
      <p>
        Congrats on the sex bud!
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>3. Morrill - Grrreat</h1>
      <h2>Seeing your alma mater win the national championship</h2>
      <p>
        Now we get to the cream of the crop. Seems like yesterday we traveled down to the lonestar state to watch Villanova ruin the Oklahoma basketball program, and then
        do the impossible. It was a glorious time, and a trip that was truly once in a lifetime. I Don't really have anythign snarky to say about that.
        <br><br>
        There are three teams here that could win it all. And that's it. Everyone else is playing for fourth place. Weird trade to give up Kirk Cousins for essentially nothing, but hey, who am I to complain?
        It'll help me in the long run.
        <br>Also there was a gif here, but I took it off so at least you could read your own ranking on your phone. Android Bros gotta stick together.
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>2. Jeff - Guys Bein Dudes</h1>
      <h2>Your College Years</h2>
      <img src="https://scontent.fphl1-2.fna.fbcdn.net/v/t1.0-9/1928842_508129387532_7553_n.jpg?oh=57a6c7b293146da7c65f94e05fc7a8bb&oe=5A66AEB1" alt="">
      <p>
        There's not much that gets better than this. I mean if you've never said "I miss college", then I've got nothing for ya. Its the last time where you could drink
        2 40's that are taped to your hands while balancing a bag of frozen peas between them to keep them cold and not get judged. I try to do that at the mall, and all
        I get are dirty looks. Haters gonna hate I guess.
        <br><br>
        Putting your entire fantasy season on the back of Kirk Cousins is a bold, bold move. It's one that may just take you out of the mediocrity you've experienced every
        year of your fantasy football career. But it's probably not going to happen. It's in your blood to lose.
      </p>
    {{/d.slide}}
    {{#d.slide}}
      <h1>1. Nick - Prettay Prettay Prettay Good</h1>
      <h2>Barstool Van Talk Season 1</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KUe-FkbaFDc" frameborder="0" allowfullscreen></iframe>
      <p>
        RIPIP Sweet Prince. RIPIP.
      </p>
    {{/d.slide}}
  </div>
  <div class='row'>
    <div class='col-md-1'>
      <button {{action d.prev}} disabled={{d.prevDisabled}}>Prev</button>
    </div>
    <div class='col-md-10'></div>
    <div class='col-md-1'>
      <button {{action d.next}} disabled={{d.nextDisabled}}>Next</button>
    </div>
  </div>
{{/slide-deck}}
